body{ background: black;
    color: white;
    font-family: 'Jost', sans-serif;
    font-family: 'Questrial', sans-serif;
    margin: 0px;
    padding: 0px;
    min-width: 1462px;
}

/*Header*/
header{
    margin: 30px auto;
    max-width: 85%;
    display:  -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(52, 79, 121, .56);
    justify-content: space-between;
}

.title{
    font-size: 60px;
    padding-top: 10px;
    padding-left: 20px;
    text-align: start;
    text-decoration: none;
    color: white;
}

header .mnu_top{
    list-style-type: none;
}

header .mnu_top li{
    display: inline-block;
    margin-right: 75px;
}

header .mnu_top li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    -webkit-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease;
}

header .mnu_top li a:hover{
    color: #7B68EE;

}

.section{
    background: white;
}

.block_com {
    display: flex;
    justify-content: flex-start;
}

.img_com {
    display: flex;
    padding: 5% 5% 2%;
}

.text_com1 {
    font-size: 200%;
    margin: -4% 11% 40% 10%;
}

.text_com2 {
    font-size: 100%;
    margin: 7% 11% 40% -17%;
}

/*Footer*/
footer{
    width: 100%;
    height: 50px;
    background: black;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

footer a{
    margin: 10px auto;
    max-width: 85%;
    display:  -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
}

footer nav a:hover{
    color: #7B68EE;
}

footer nav{
    list-style-type: none;
}

footer nav a{
    display: inline-block;
    margin-right: 75px;
}

footer nav a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    -webkit-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color .4s ease;
}

.footer_down{
    margin: 44px auto;
    max-width: 60%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
}

.help{
    margin: 44px auto;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
}

.social{
    margin: 44px auto;
    max-width: 50%;
    display:  -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
}

